.logout-btn {
    margin: 0 auto;
    display: block !important;
}
#cartcount {
    font-size: 10px;
    background-color: red;
    color: #fff;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: -8px;
    border-radius: 50%;
    margin-top: -5px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
    color: red
}

.fa-shopping-cart {
    font-size: 20px; 
}

.notifications-container {
    padding: 20px;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid gray;
    background-color: white;
    width: 200px;
    z-index: 99;
}

.notification-read {
    background-color: lightblue;
}

.notification-unread {
    background-color: lightcoral;
}
.fas[data-count] {
    position: relative;
}

.fa-bell {
    font-size: 1.5em;
}

.fas[data-count]:after {
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    content: attr(data-count);
    padding: 0.5em;
    border-radius: 10em;
    line-height: 0.9em;
    color: white;
    background-color: red;
    text-align: center;
    min-width: 2em;
    font: bold 0.4em sans-serif;
}

.top-nav {
    background-color: rgb(20, 206, 45);
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 600;
}


.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-left: 20px;
    color: #ffffff;
}

.social-links i {
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffffff;
    font-size: 20px;
    border-radius: 100%;
    
}
input[type=search] {
    width: 100px;
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    /* box-sizing: border-box;
    border-bottom: 2px solid red;
    padding: 12px 120px;
    border-radius: 10px; */
    /* margin: 8px 0; */

    display: flex;
    z-index: 3;
    height: 44px;
    padding: 12px 120px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    border-radius: 24px;
    margin: 0 auto;
    width: 690px;
    
  }
  
  .input-group-text {
    width: 44px;
    background: transparent;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 0;
    padding-right: 0px;
    flex: 0 0 auto;
    padding-right: 13px;
  }

  .input-group-text i{
    background: none;
    color: #4285f4;
    height: 20px;
    width: 24px;
    margin: auto;
  }

  .navbar img {
    width: 50px;
    height: 50px;
  }
  .loginButton a{
    line-height: 1.25;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    color: #ffffff;
    padding-bottom: .5rem;
    background-color: rgb(20, 206, 45);
    border-radius: 9999px;
  }

@media only screen and (max-width: 600px) {
    .top-nav p {
        margin-bottom: 0;
        display: inline-block;
        margin-left: 10px;
        color: #ffffff;
    }
    .social-links i{
        /* float: right; */
        display: none;
      }

    .top-nav p{
        font-size: 12px;
    }
    .top-nav {
        padding-top: -8px;
        padding-bottom: 2px;
        font-weight: 600;
        height: 50px;
    }
    input[type=search] {

        box-sizing: border-box;
        padding:  16px;

        display: flex;
        z-index: 3;
        height: 44px;
        background: #fff;
        border: 1px solid transparent;
        box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
        border-radius: 24px;
        margin: 0 auto;
        width: 690px;
    
    }
    .navbar img {
        width: 30px;
      }

      .navbar{
        height: 80px;
      }

      .loginButton a{
        line-height: 1.25;

        line-height: 0.35;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: .2rem;
        color: #ffffff;
        padding-bottom: .5rem;
        background-color: rgb(20, 206, 45);
        border-radius: 9999px;
      }
}