.fa-plus-circle,
.fa-minus-circle {
    cursor: pointer;
    display: inline-block;
}

.fa-plus-circle{
    margin-left: 5px;
}

.fa-minus-circle{
    margin-right: 5px;
}

.cardSytle{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1),0 5px 10px 0 rgba(0,0,0,.15);
    margin-top: 4%;
    position: relative;
    width: 350px;
    line-height: 2;
    padding: 20px;
    /* height: 420px; */
    /* padding-top: 40px; */
   
}

.cart-container h1{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    /* padding-right: 80px; */
    /* padding-top: -100px; */
}

.table th{
    font-size: 16px;
    font-weight: 600;
}
.table td{
    font-size: 18px;
    color: #4F4F4F;
}
.tatol{
    font-size: 18px;
    color: #4F4F4F;
}

@media screen and (max-width: 756px) {
    .cart-container h1{
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
        /* padding-right: 80px; */
        /* padding-top: -100px; */
    }
    
    .table th{
        font-size: 14px;
        /* font-weight: 600; */
    }
    .table td{
        font-size: 15px;
        color: #4F4F4F;
    }
    .tatol{
        font-size: 14px;
        color: #4F4F4F;
    }
}