.product__carousel--image {
    max-width: 100%;
    object-fit: cover;
    max-height: 500px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn{
    display: none;
}

.category-page-container {
    min-height: 90vh;
}

.category-banner-container {
    height: 200px;
    background-color: #182e39;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}